.section-about {
  width: 100%;
  height: 130vh;
}
.section-service {
  padding: 15rem 0;
  background: $color-gray-light-1;
  position: relative;
}
.menu-section {
  padding: 10rem 0;
  //background: $color-gray-light-1;
  position: relative;
}
.chef-section {
  padding: 10rem 0;
  position: relative;
}
.section-booking {
  height: 100vh;
  width: 100%;
  position: relative;
}
